@media screen and (max-width: 640px) {
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.1rem;
  }
  h4 {
    font-size: 1.2rem;
  }

  p {
    font-size: 14px;
  }

  li {
    font-size: 14px;
  }

  .nav-right {
    display: none;
    flex-direction: column;
    padding: 0;
    height: 40vh;
    width: 100%;
    flex: auto;
    justify-content: space-between;
    transition: 1.3s;
  }
  .nav-logo img {
    height: 30px;
    margin-right: 5px;
  }
  .nav-logo p {
    font-size: 14px;
    margin-left: 0;
  }
  .nav-left {
    width: 100%;
    padding: 0;
    justify-content: space-between;
  }
  .nav-hamburger {
    margin-right: 3%;
  }
  .nav-hamburger i {
    display: flex;
  }
  nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 2% 2%;
    box-sizing: border-box;
  }
  .nav-list {
    width: 100%;
    display: flex;
    height: 100%;
  }
  .nav-list ul {
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    margin: 0;
  }

  .nav-list ul li {
    font-size: 1rem;
  }

  .nav-buttons {
    width: 95%;
  }
  .nav-button {
    width: 50%;
    font-size: 14px;
  }

  header {
    margin-top: 20%;
    flex-direction: column;
    align-items: center;
  }
  .header-left {
    width: auto;
    padding: 0 10px;
  }
  .header-right {
    margin-top: 10%;
    width: auto;
  }
  .header-left h3 {
    font-size: 1.6rem;
  }
  .header-left h1 {
    margin: 3% 0;
    font-size: 3rem;
  }
  .header-left h4 {
    font-size: 1.2rem;
    width: auto;
  }
  .header-left p {
    width: auto;
    font-size: 14px;
    margin-top: 5%;
  }
  .header-form form {
    display: flex;
  }
  .header-form form input {
    width: 70%;
    height: 45px;
    font-size: 1rem;
    padding-left: 15px;
  }
  .header-form form button {
    height: 45px;
    width: 30%;
    font-size: 1rem;
  }

  .outer-circle {
    width: 300px;
    height: 300px;
  }
  .small-circle {
    width: 50px;
    height: 50px;
  }
  .small-circle img {
    width: 30px;
  }
  .inner-semicircle {
    width: 225px;
    height: 125px;
    top: 19%;
    left: 23%;
  }
  .inner-circle1 {
    width: 180px;
    height: 180px;
    top: 18%;
    left: 9%;
  }
  .inner-circle2 {
    width: 125px;
    height: 125px;
    top: 15%;
    left: 15%;
  }
  .inner-circle2 img {
    width: 125px;
  }

  .social-icons {
    justify-content: space-around;
    margin-top: 15%;
  }
  .social-icon {
    width: 45px;
    height: 45px;
  }
  .social-icon img {
    width: 15px;
  }

  /* intro section  */

  .intro-container {
    margin-top: 10%;
    width: 95vw;
    height: 35rem;
    padding: 5%;
  }
  .intro-container p {
    margin-top: 10%;
    width: auto;
  }

  .img-container img {
    width: 100%;
    height: 30%;
    border: 2px solid rgba(237, 67, 34, 0.5);
    box-sizing: border-box;
    border-radius: 20px;
  }

  /* intro2 section  */
  #intro2 {
    margin-top: 10%;
    flex-direction: column-reverse;
  }
  .intro2-left,
  .intro2-right {
    width: auto;
  }

  .intro2-para {
    margin: 7% 0;
  }
  .intro2-left {
    padding: 0 3%;
    margin: 0;
  }
  .intro2-right img {
    width: 20rem;
  }

  /* domain section  */
  #domains {
    height: auto;
    width: auto;
  }
  #domains h2 {
    padding-top: 5%;
  }
  .domain-container {
    flex-direction: column;
    margin-top: 10%;
  }
  .domain {
    margin-bottom: 10%;
    width: 13rem;
    height: 15rem;
  }
  .domain h3 {
    font-size: 1.2rem;
  }
  .domain p {
    font-size: 14px;
  }

  /* happenings section  */
  #happenings {
    text-align: left;
    padding: 0 3%;
    margin-top: 10%;
  }
  #happenings p {
    width: auto;
  }
  .gallery-container {
    flex-direction: column;
  }
  .section1 img,
  .section5 img {
    width: 7rem;
    height: 11rem;
  }
  .section2 img:nth-child(1) {
    width: 6rem;
    height: 4rem;
  }
  .section2 img:nth-child(2) {
    width: 6rem;
    height: 9rem;
  }
  .section3 img {
    width: 7rem;
    height: 14rem;
  }
  .section4 img {
    width: 6rem;
    height: 4rem;
  }

  .msg {
    width: 90px;
    height: 30px;
    font-size: 14px;
  }
  .msg1 {
    top: 29%;
    left: 6%;
  }
  .msg2 {
    right: 6%;
    top: 38%;
  }
  .msg3 {
    left: 0;
    bottom: 18%;
    transform: rotate(90deg);
    width: 140px;
  }
  .msg4 {
    right: 0;
    bottom: 20%;
    transform: rotate(90deg);
    width: 140px;
  }
  .msg5 {
    bottom: 7%;
    left: 13%;
    width: auto;
    font-size: 14px;
  }
  .msg6 {
    left: 8%;
    top: 35%;
    width: 20%;
    height: 10%;
    object-fit: cover;
  }
  .msg6 img {
    width: 100%;
  }
  .view-button {
    width: 8rem;
    height: 3rem;
    font-size: 14px;
    border-radius: 10px;
    margin-top: 15%;
  }

  /* activities section  */
  #activities {
    flex-direction: column;
    margin-top: 10%;
  }
  .activity {
    flex-direction: column;
    margin-bottom: 10%;
  }

  .activity-img {
    width: 100%;
    height: 15rem;
    margin-bottom: 5%;
  }
  .activity-text {
    width: 100%;
  }

  /* codigo-app section  */
  #codigo-app {
    flex-direction: column;
  }
  .container-left,
  .container-right {
    width: auto;
  }
  .container-left {
    padding: 5%;
  }
  .container-left h2 {
    font-size: 2rem;
    width: 96%;
  }
  .container-right img {
    width: 22rem;
  }
  .app-stores img {
    width: 35%;
  }

  /* coordinators section  */
  #coordinators {
    margin-top: 10%;
  }
  #coordinators h2 {
    margin-top: 5%;
  }

  .coordinators-container {
    grid-template-columns: 20rem;
    grid-auto-rows: 11rem;
    margin-top: 10%;
  }
  .coordinator {
    width: 20rem;
    height: 8.5rem;
    border-radius: 20px;
  }
  .info-title h5 {
    font-size: 1rem;
  }
  .expand-button {
    width: 8rem;
    height: 2.5rem;
    font-size: 14px;
  }

  /* testimonial section  */
  #testimonials {
    margin-top: 10%;
  }
  .user {
    width: 20rem;
    padding: 0 1%;
    height: 13rem;
  }
  .user img {
    top: 18%;
    width: 3.5rem;
  }
  .user p {
    margin: 30px 0 22px;
    font-size: 14px;
  }
  .space {
    margin: 0 20px;
  }
  .controls span {
    width: 10px;
    height: 10px;
  }

  /* social section  */
  #social {
    margin-top: 10%;
  }
  .social-container {
    width: 95%;
    height: 13rem;
    border-radius: 1rem;
  }
  .social-container h2 {
    font-size: 1.6rem;
  }
  .social-container p {
    font-size: 14px;
    width: 90%;
  }
  .social-buttons span {
    width: 45px;
    height: 45px;
  }
  .social-buttons span i {
    color: #ed4322;
    font-size: 1.2rem;
  }

  .social-buttons span:hover i {
    font-size: 1.6rem;
    transition: 0.5s;
  }

  /* footer  */
  #footer {
    flex-direction: column-reverse;
    margin-top: 10%;
  }

  .footer-right {
    margin-top: 5%;
  }
  .footer-left {
    margin: 5% 0;
  }
  .footer-form form input {
    width: 14rem;
  }

  .footer-form form button {
    font-size: 14px;
    width: 7rem;
  }
  .footer-logo {
    width: 10rem;
    height: 10rem;
  }
  .footer-logo img {
    width: 8rem;
  }
  .links-container {
    grid-template-columns: 10rem 10rem;
    row-gap: 10px;
  }

  .links ul li {
    margin-bottom: 10%;
    font-size: 14px;
  }

  /* copyright section  */
  #copyright p {
    width: 75%;
  }
}
