body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

* {
  -webkit-tap-highlight-color: transparent;
}

/* navbar  */

nav {
  width: 100%;
}

.nav-right {
  display: flex;
  width: 50%;
  align-items: center;
  gap: 5%;
  padding-right: 20px;
}

.nav-left {
  width: 50%;
  align-items: center;
  padding-left: 20px;
}

.nav-left img {
  height: 50px;
}

.nav-left p {
  color: #ed4322;
  font-weight: 700;
  font-size: 1.2rem;
}

.nav-hamburger svg {
  display: none;
  width: 35px;
  height: 35px;
}

.nav-list {
  width: 100%;
}

.nav-list ul {
  width: 100%;
  justify-content: center;
  padding: 0;
}

.nav-list ul li {
  list-style-type: none;
  margin-left: 5%;
  font-weight: 500;
  font-size: 18px;
}

.nav-list ul li a {
  text-decoration: none;
  color: #000;
}

.nav-list ul li a:hover {
  color: #ed4322;
}

.nav-buttons {
  gap: 5%;
}

.nav-button {
  border-radius: 10px;
  width: 100px;
  height: 35px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  font-size: 1rem;
}

.nav-button1 {
  background-color: #eeeeee;
}

.nav-button2 {
  background-color: #ed4322;
  color: #fff;
}

/* header  */

header {
  align-items: center;
  margin-top: 5%;
}

.header-left {
  padding-left: 30px;
  width: 60%;
}

.header-right {
  width: 40%;
  flex-direction: column;
}

.header-left h3 {
  font-size: 2rem;
}

.header-left h1 {
  font-size: 6rem;
  color: #ed4322;
  line-height: 1.3;
}

.header-left h4 {
  font-weight: 500;
  font-size: 1.6rem;
  width: 80%;
}

.header-left p {
  color: #8a8c8c;
  font-weight: 500;
  margin-top: 2%;
  width: 80%;
}

.header-form {
  margin-top: 5%;
}

.header-form input {
  border-radius: 60px;
  border: 2px solid #ed4322;
  width: 56%;
  height: 60px;
  font-size: 1.2rem;
  padding-left: 20px;
  box-sizing: border-box;
  margin-right: 2%;
}

.header-form button {
  width: 20%;
  border: none;
  background: #ed4322;
  height: 60px;
  color: #fff;
  border-radius: 60px;
  font-size: 1.2rem;
  cursor: pointer;
}

.outer-circle {
  border-radius: 100%;
  width: 500px;
  height: 500px;
  border: 1px solid;
  position: relative;
}

.inner-semicircle {
  border-radius: 400px 400px 0 0;
  width: 400px;
  height: 225px;
  background-color: #191919;
  position: absolute;
  left: 23%;
  top: 16%;
  transform: rotate(45deg);
}

.inner-circle1 {
  position: absolute;
  width: 350px;
  height: 350px;
  border-radius: 100%;
  top: 13%;
  background-color: #ed4322;
  left: 6%;
}

.inner-circle2 {
  position: absolute;
  background-color: #fff;
  border-radius: 100%;
  width: 275px;
  height: 275px;
  top: 10%;
  left: 10%;
}

.inner-circle2 img {
  width: 250px;
  transform: rotate(-45deg);
}

.small-circle {
  background: #ffffff;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  width: 70px;
  height: 70px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.small-circle img {
  width: 45px;
}

.small-circle1 {
  top: -7%;
  left: 42%;
}
.small-circle2 {
  top: 15%;
  left: 0%;
}
.small-circle3 {
  top: 65%;
  left: -2%;
}
.small-circle4 {
  bottom: -6%;
  left: 42%;
}
.small-circle5 {
  bottom: 30%;
  left: 90%;
}

.social-icons {
  margin-top: 10%;
  width: 100%;
  gap: 5%;
}

.social-icon {
  background: #ffffff;
  box-shadow: 0px 5px 66px rgba(0, 0, 0, 0.25);
  width: 60px;
  height: 60px;
  border-radius: 100%;
  gap: 5%;
}

.social-icon img {
  width: 20px;
}

/* into section  */

.intro-container {
  position: relative;
  margin-top: 5%;
  width: 95vw;
  height: 20rem;
  background: rgba(237, 67, 34, 0.25);
  border-radius: 30px;
  padding: 2%;
  box-sizing: border-box;
}

.intro-container p {
  width: 60%;
  margin-top: 15px;
}

.intro-container p:nth-child(3) {
  font-weight: 600;
}

.img-container img {
  position: absolute;
  width: 30%;
  height: 75%;
  object-fit: cover;
  right: 0;
  bottom: 0;
  border-radius: 30px;
}

/* intro2 section  */

.intro2-right,
.intro2-left {
  width: 50%;
}

.intro2-left {
  margin-right: 5%;
}

.intro2-right img {
  width: 40rem;
}

.intro2-para {
  margin: 3% 0;
}

.fc {
  gap: 3%;
}

.fc-profile {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #eeeeee;
}

/* domains  */

#domains {
  height: 30rem;
  background-color: #eeeeee;
  width: 100vw;
}

#domains h2 {
  padding-top: 2%;
}

.domain-container {
  gap: 10%;
  margin-top: 3%;
}

.domain {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 35px;
  background-color: #fff;
  width: 15rem;
  height: 17rem;
  padding-left: 25px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-evenly;
}

.domain:hover {
  background-color: #ed4322;
  cursor: pointer;
}

.domain:hover h3,
.domain:hover p,
.domain:hover {
  color: #fff;
}

.domain:hover svg {
  color: #fff;
  margin-left: 10px;
  transition: 500ms;
}

.domain h3 {
  font-size: 1.4rem;
  font-weight: 700;
  width: 50%;
}

.domain-icon {
  width: 75px;
  height: 75px;
  background: #ffffff;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

.domain-icon img {
  width: 50px;
  height: 50px;
}

.domain-link {
  display: flex;
  align-items: center;
  gap: 5%;
}

/* happenings section  */

#happenings {
  margin-top: 5%;
  text-align: center;
  position: relative;
  flex-direction: column;
  align-items: center;
}

#happenings p {
  margin: 15px 0;
}

.msg {
  position: absolute;
  background: rgba(237, 67, 34, 0.5);
  border-radius: 10px;
  width: 100px;
  height: 40px;
  font-weight: 600;
}

.msg1 {
  top: 25%;
  left: 10%;
}

.msg2 {
  right: 12%;
  top: 20%;
}

.msg3 {
  left: 10%;
  bottom: 10%;
  width: 140px;
}

.msg4 {
  right: 28%;
  bottom: 8%;
  width: 140px;
}

.msg5 {
  position: absolute;
  font-weight: 600;
  font-size: 1.2rem;
  bottom: 0%;
  width: 20%;
  left: 7%;
}

.gallery-container {
  gap: 6%;
  margin-top: 7%;
}

.section1 img,
.section2 img,
.section3 img,
.section4 img,
.section5 img {
  object-fit: cover;
  border-radius: 10px;
}

.section-container{
  gap: 5%;
}

.section1 img {
  width: 13rem;
  height: 20rem;
}
.section2 {
  flex-direction: column;
}

.section2 img:nth-child(1) {
  width: 12rem;
  height: 8rem;
}
.section2 img:nth-child(2) {
  width: 12rem;
  height: 15rem;
}
.section3 img {
  width: 17rem;
  height: 28rem;
}
.section4 {
  flex-direction: column;
}
.section4 img {
  width: 12rem;
  height: 8rem;
  margin-bottom: 5%;
}
.section5 img {
  width: 13rem;
  height: 20rem;
}

.view-button {
  background: #ffffff;
  box-shadow: 0px 10px 50px 2px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  width: 11rem;
  height: 3.5rem;
  border: none;
  font-size: 1.2rem;
  margin-top: 7%;
  font-weight: 600;
  gap: 5%;
}