.flex {
  display: flex;
}

.flex-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-align {
  display: flex;
  align-items: center;
}

.flex-align-column {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-box-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-justify {
  display: flex;
  justify-content: center;
}

.flex-justify-between{
  display: flex;
  justify-content: space-between;
}

.flex-justify-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-justify-end {
  display: flex;
  justify-content: flex-end;
}

.flex-justify-start {
  display: flex;
  justify-content: flex-start;
}

.flex-align-end {
  display: flex;
  align-items: flex-end;
}

.flex-align-start {
  display: flex;
  align-items: flex-start;
}
