<section id="copyright" class="flex-box">
    <p>
        &copy; 2023 Codigo Plataforma. All rights reserved. Designed by
        <a href="https://www.linkedin.com/in/somdev-behera/">Somdev Behera</a>
    </p>
</section>