<footer id="footer" class="flex-box">

    <div class="footer-left flex-box-column">
        <div class="logo-container flex-box-column">
            <div class="footer-logo flex-box">
                <img src="/images/src/main-logo-cropped.png" alt="" />
            </div>
            <div class="logo-content">
                <h5>Codigo Plataforma</h5>
                <p>
                    Official Coding club of Silicon Institute of Technology, Sambalpur
                </p>
            </div>
        </div>
        <div class="footer-social flex-box">
            <i class="bi bi-twitter flex"></i>
            <i class="bi bi-facebook flex"></i>
            <i class="bi bi-linkedin flex"></i>
            <i class="bi bi-instagram flex"></i>
        </div>

    </div>

    <div class="footer-right">

        <div class="" style="padding: 0 5%;">

            <h3 style="margin-bottom: 1rem;">Join out family of innovators</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis natus eum autem, error, recusandae
                deleniti explicabo quae odio atque ex facere minima, temporibus ab modi quia nihil. Dolore perferendis
                molestiae aspernatur adipisci omnis, ab hic quod nemo vel, voluptas deserunt quasi odio, aut tenetur
                facilis
                natus debitis magni a. Molestias.</p>
        </div>

    </div>

</footer>