<section id="Navbar">
    <nav class="flex">
        <div class="nav-left flex">
            <div class="nav-logo flex-box">
                <img src="/images/src/main-logo-cropped.png" alt="" />
                <p>Codigo Plataforma</p>
            </div>
            <div class="nav-hamburger">
                <i class="bi bi-list flex"></i>
            </div>
        </div>
        <div class="nav-right">
            <div class="nav-list">
                <ul class="flex">
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="">Events</a></li>
                    <li><a href="">Achievements</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
            </div>
            <!-- <div class="nav-buttons flex">
                <button class="nav-button nav-button1">Sign Up</button>
                <button class="nav-button nav-button2">Log in</button>
            </div> -->
        </div>
    </nav>
</section>