<!DOCTYPE html>
<html lang="en">

<head>
  <!-- meta tags  -->
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- google font  -->
  <link flex-align-box rel="preconnect" href="https://fonts.googleapis.com" />
  <link flex-align flex-box rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link flex-align flex-box
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet" />
  <!-- favicon  -->
  <link flex-align flex-box rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link flex-align flex-box rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link flex-align flex-box rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link flex-align-box rel="manifest" href="/site.webmanifest" />
  <link flex-align flex-box rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
  <meta name="msapplication-TileColor" content="#da532c" />
  <meta name="theme-color" content="#ffffff" />
  <!-- bootstrap  -->
  <!-- Option 1: Include in HTML -->
  <link flex-align rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
  <!-- css  -->
  <link flex-align-box rel="stylesheet" href="../../css/styles.css" />
  <link flex-align-box rel="stylesheet" href="../../css/responsive-sm.css" />
  <link rel="stylesheet" href="../../css/responsive-md.css" />
  <link flex-align-box rel="stylesheet" href="../../css/util.css" />
  <link rel="stylesheet" href="/css/coordinators.css" />
  <link rel="stylesheet" href="/css/coordinators-sm.css" />
  <!-- title  -->
  <title>Coordinators</title>
</head>

<body>
  <%- include("../../partials/navbar.ejs") %>

    <header id="coord-header" class="flex">
      <div class="coord-header-left">
        <div class="coord-heading flex-justify-column">
          <h1>Coordinators</h1>
          <p>
            We organize, coordinate and make every event and activity success
            through our joint effort and team work
          </p>
        </div>
        <a href="#what-we-do">
          <div class="mouse-scroll flex">
            <i class="bi bi-mouse flex"></i>
            <span>Scroll down</span>
            <i class="bi bi-arrow-down flex"></i>
          </div>
        </a>
      </div>
      <div class="coord-header-right flex-box">
        <img src="/images/src/Concept of Business employees team working in business environment - work culture.svg"
          alt="" />
      </div>
    </header>
    <section id="what-we-do" class="flex-box">
      <div class="what-we-do-left flex-box">
        <img src="/images/src/Concept of Business employees team working in business environment - work culture (1).svg"
          alt="" />
      </div>
      <div class="what-we-do-right">
        <h2>What do we do?</h2>
        <p>
          The purpose of coordinators is to manage and organise each and every
          club activity in smooth and secure way so that no indiciplinary action
          take place. It is we who take classes, make competitions and organize
          activities for the club members for the functioning of the club. In
          short we make the club work the way it works.
        </p>
      </div>
    </section>
    <section id="coordinators-section" class="flex-box-column">
      <div class="coord-content flex-justify">
        <div class="coord-image flex">
          <div class="coord-img flex">
            <div class="coord-img-bg"></div>
            <img src="" alt="" />
          </div>
        </div>
        <div class="coord-info">
          <h3>The Secretary</h3>
          <p>
            The club secretary is the head of coordinators and leads the team.
            It is his duty to inform the higher authority regarding classes,
            events and activities. He is responsible for club happenings and
            under his leadership the team of coordinators carry out all the
            tasks.
          </p>
        </div>
      </div>
      <div class="coord-content flex-justify">
        <div class="coord-image">
          <div class="coord-img flex">
            <div class="coord-img-bg"></div>
            <img src="" alt="" />
          </div>
        </div>
        <div class="coord-info">
          <h3>Student-in-charge, App dev</h3>
          <p>
            The club secretary is the head of coordinators and leads the team.
            It is his duty to inform the higher authority regarding classes,
            events and activities. He is responsible for club happenings and
            under his leadership the team of coordinators carry out all the
            tasks.
          </p>
        </div>
      </div>
      <div class="coord-content flex-justify">
        <div class="coord-image">
          <div class="coord-img flex">
            <div class="coord-img-bg"></div>
            <img src="" alt="" />
          </div>
        </div>
        <div class="coord-info">
          <h3>Student-in-charge, Web dev</h3>
          <p>
            The club secretary is the head of coordinators and leads the team.
            It is his duty to inform the higher authority regarding classes,
            events and activities. He is responsible for club happenings and
            under his leadership the team of coordinators carry out all the
            tasks.
          </p>
        </div>
      </div>
      <div class="coord-content flex-justify">
        <div class="coord-image">
          <div class="coord-img flex">
            <div class="coord-img-bg"></div>
            <img src="" alt="" />
          </div>
        </div>
        <div class="coord-info">
          <h3>Student-in-charge, Competitive Programming</h3>
          <p>
            The club secretary is the head of coordinators and leads the team.
            It is his duty to inform the higher authority regarding classes,
            events and activities. He is responsible for club happenings and
            under his leadership the team of coordinators carry out all the
            tasks.
          </p>
        </div>
      </div>
      <div class="coord-content flex-justify">
        <div class="coord-image flex-box">
          <div class="coord-img-container1 flex-align-column">
            <div class="coord-img-sm coord-img1 flex">
              <div class="coord-img-bg-sm"></div>
              <img src="" alt="" />
            </div>
            <div class="coord-img-sm coord-img2 flex">
              <div class="coord-img-bg-sm"></div>
              <img src="" alt="" />
            </div>
          </div>
          <div class="coord-img-container2 flex-align-column">
            <div class="coord-img-sm coord-img3 flex">
              <div class="coord-img-bg-sm"></div>
              <img src="" alt="" />
            </div>
          </div>
        </div>
        <div class="coord-info">
          <h3>Club joints</h3>
          <p>
            The club secretary is the head of coordinators and leads the team.
            It is his duty to inform the higher authority regarding classes,
            events and activities. He is responsible for club happenings and
            under his leadership the team of coordinators carry out all the
            tasks.
          </p>
        </div>
      </div>
      <div class="coord-content flex-justify">
        <div class="coord-image flex-box">
          <div class="coord-img-container1 flex-align-column">
            <div class="coord-img-sm coord-img1 flex">
              <div class="coord-img-bg-sm"></div>
              <img src="" alt="" />
            </div>
            <div class="coord-img-sm coord-img2 flex">
              <div class="coord-img-bg-sm"></div>
              <img src="" alt="" />
            </div>
          </div>
          <div class="coord-img-container2 flex-align-column">
            <div class="coord-img-sm coord-img3 flex">
              <div class="coord-img-bg-sm"></div>
              <img src="" alt="" />
            </div>
          </div>
        </div>
        <div class="coord-info">
          <h3>Class instructors</h3>
          <p>
            The club secretary is the head of coordinators and leads the team.
            It is his duty to inform the higher authority regarding classes,
            events and activities. He is responsible for club happenings and
            under his leadership the team of coordinators carry out all the
            tasks.
          </p>
        </div>
      </div>
      <div class="coord-content flex-justify">
        <div class="coord-image flex-box">
          <div class="coord-img-container1 flex-align-column">
            <div class="coord-img-sm coord-img1 flex">
              <div class="coord-img-bg-sm"></div>
              <img src="" alt="" />
            </div>
            <div class="coord-img-sm coord-img2 flex">
              <div class="coord-img-bg-sm"></div>
              <img src="" alt="" />
            </div>
          </div>
          <div class="coord-img-container2 flex-align-column">
            <div class="coord-img-sm coord-img3 flex">
              <div class="coord-img-bg-sm"></div>
              <img src="" alt="" />
            </div>
          </div>
        </div>
        <div class="coord-info">
          <h3>Social media</h3>
          <p>
            The club secretary is the head of coordinators and leads the team.
            It is his duty to inform the higher authority regarding classes,
            events and activities. He is responsible for club happenings and
            under his leadership the team of coordinators carry out all the
            tasks.
          </p>
        </div>
      </div>
      <div class="coord-content flex-justify">
        <div class="coord-image flex-box">
          <div class="coord-img-container1 flex-align-column">
            <div class="coord-img-sm coord-img1 flex">
              <div class="coord-img-bg-sm"></div>
              <img src="" alt="" />
            </div>
            <div class="coord-img-sm coord-img2 flex">
              <div class="coord-img-bg-sm"></div>
              <img src="" alt="" />
            </div>
          </div>
          <div class="coord-img-container2 flex-align-column">
            <div class="coord-img-sm coord-img3 flex">
              <div class="coord-img-bg-sm"></div>
              <img src="" alt="" />
            </div>
          </div>
        </div>
        <div class="coord-info">
          <h3>Content creation</h3>
          <p>
            The club secretary is the head of coordinators and leads the team.
            It is his duty to inform the higher authority regarding classes,
            events and activities. He is responsible for club happenings and
            under his leadership the team of coordinators carry out all the
            tasks.
          </p>
        </div>
      </div>
    </section>
    <%- include("partials/footer.ejs") %>
      <%- include("partials/copyright.ejs") %>



        <script src="/scripts/script.js"></script>
</body>

</html>