html {
  scroll-behavior: smooth;
}

.coord-header-left,
.coord-header-right {
  flex: 1;
}

#coord-header {
  height: 80vh;
  margin-top: 3%;
}

.coord-header-left {
  margin-left: 5%;
  height: 100%;
}

.coord-heading {
  height: 90%;
}

.coord-heading h1 {
  color: #ed4322;
}

.coord-heading p {
  width: 75%;
  margin-top: 3%;
  color: #434242;
  font-weight: 500;
}

a[href="#what-we-do"] {
  text-decoration: none;
  color: #000;
}

.mouse-scroll {
  align-items: center;
  gap: 5px;
}

.mouse-scroll i:nth-child(1) {
  font-size: 1.8rem;
}

.mouse-scroll i:nth-child(2) {
  font-size: 1.2rem;
}

#what-we-do,
#coordinators-section {
  box-sizing: border-box;
  margin-top: 5%;
}

#what-we-do {
  background-color: #eeeeee;
  padding: 2%;
}

.what-we-do-left,
.what-we-do-right {
  flex: 1;
}

.what-we-do-left img {
  width: 25rem;
}

.what-we-do-right p {
  margin-top: 5%;
  width: 80%;
}

#coordinators-section {
  padding: 0 5%;
}

.coord-content {
  margin-bottom: 5%;
}

.coord-content:nth-child(even) {
  flex-direction: row-reverse;
}

.coord-image {
  justify-content: flex-start;
}

.coord-content:nth-child(even) .coord-image {
  display: flex;
  justify-content: flex-end;
}

.coord-image,
.coord-info {
  flex: 1;
}

.coord-img,.coord-img-sm{
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
}

.coord-img {
  width: 60%;
  height: 20rem;
  align-items: flex-end;
}

.coord-img-sm {
  width: 70%;
  margin-bottom: 10%;
  height: 10rem;
  align-items: flex-end;
}

.coord-img-container1,
.coord-img-container2 {
  flex: 1;
  align-items: flex-start;
}

.coord-content:nth-child(even) .coord-img-container1,
.coord-content:nth-child(even) .coord-img-container2 {
  align-items: flex-end;
}

.coord-img-bg {
  background-color: #eeeeee;
  width: 90%;
  height: 17rem;
}

.coord-img-bg-sm {
  background-color: #eeeeee;
  width: 90%;
  height: 8rem;
}

.coord-info h3 {
  margin-bottom: 3%;
}
