<!DOCTYPE html>
<html lang="en">

<head>
  <!-- meta tags  -->
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- google font  -->
  <link flex-align-box rel="preconnect" href="https://fonts.googleapis.com" />
  <link flex-align flex-box rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link flex-align flex-box
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet" />
  <!-- favicon  -->
  <link flex-align flex-box rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link flex-align flex-box rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link flex-align flex-box rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link flex-align-box rel="manifest" href="/site.webmanifest" />
  <link flex-align flex-box rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
  <meta name="msapplication-TileColor" content="#da532c" />
  <meta name="theme-color" content="#ffffff" />
  <!-- bootstrap  -->
  <!-- Option 1: Include in HTML -->
  <link flex-align rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
  <!-- css  -->
  <link flex-align-box rel="stylesheet" href="../../css/util.css" />
  <link flex-align-box rel="stylesheet" href="../../css/styles.css" />
  <link flex-align-box rel="stylesheet" href="../../css/responsive-sm.css" />
  <link rel="stylesheet" href="../../css/responsive-md.css" />
  <link rel="stylesheet" href="/css/contact-us.css" />
  <link rel="stylesheet" href="/css/contact-us-sm.css" />
  <link rel="stylesheet" href="/css/contact-us-md.css" />
  <!-- title  -->
  <title>Contact Us</title>
</head>

<body>
  <%- include("../../partials/navbar.ejs") %>
    <header id="contact">

      <div class="contact-title flex-box-column">
        <h2 id="contact-title">Get in touch with us</h2>
        <p>
          Fill the form below with your details and we’ll reach out to you soon.
        </p>
      </div>

      <div class="contact-us-container flex-box" id="contact-container">
        <div class="contact-leftcard">
          <div class="bubble bubble6"></div>
          <div class="bubble bubble7"></div>
          <div class="bubble bubble8"></div>
          <div class="contact-leftcard-content flex-column">
            <div class="top-content">
              <h3>Have something in mind?</h3>
              <p>
                Clear all your doubts or suggest something by messaging us. We
                won’t collect any unnecessary data.
              </p>
            </div>
            <div class="bottom-content">
              <div class="phone flex-align">
                <i class="bi bi-telephone flex"></i>
                <span>+919784739082</span>
              </div>
              <div class="email flex-align">
                <i class="bi bi-envelope flex"></i>
                <span>codigoplataforma@gmail.com</span>
              </div>
              <div class="address flex-align">
                <i class="bi bi-geo-alt flex"></i>
                <span>Silicon Institute of Technology, Sambalpur</span>
              </div>
            </div>
          </div>
        </div>
        <div class="contact-rightcard">
          <form action="/" method="post" id="contact-card">
            <ul>
              <li class="flex-column">
                <label for="name">Name</label>
                <input type="text" name="name" />
              </li>
              <li class="flex-column">
                <label for="email">Email</label>
                <input type="email" name="email" id="" />
              </li>
              <li class="flex-column">
                <label for="contact">Contact</label>
                <input type="number" name="contact" id="" />
              </li>
              <li class="flex-column">
                <label for="message">Message</label>
                <textarea name="message" id="" cols="30" rows="10"></textarea>
              </li>
            </ul>
            <div class="contact-buttons flex">
              <button>Clear</button>
              <button type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </header>

    <%- include("../../partials/footer.ejs") %>
      <%- include("../../partials/copyright.ejs") %>



        <script src="/scripts/script.js"></script>
        <script src="/scripts/contact-us.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script
          src="https://cdn.jsdelivr.net/npm/tsparticles-confetti@2.9.3/tsparticles.confetti.bundle.min.js"></script>
</body>

</html>