<!DOCTYPE html>
<html lang="en">

<head>
  <!-- meta tags  -->
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- google font  -->
  <link flex-align-box rel="preconnect" href="https://fonts.googleapis.com" />
  <link flex-align flex-box rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link flex-align flex-box
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet" />
  <!-- bootstrap  -->
  <!-- Option 1: Include in HTML -->
  <link flex-align rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
  <!-- swiper js  -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  <!-- css  -->
  <link rel="stylesheet" href="../../css/util.css" />
  <link rel="stylesheet" href="../../css/styles.css" />
  <link rel="stylesheet" href="../../css/responsive-sm.css" />
  <link rel="stylesheet" href="../../css/responsive-md.css" />
  <link rel="stylesheet" href="../domain.css" />
  <link rel="stylesheet" href="../domain-sm.css" />
  <link rel="stylesheet" href="../domain-md.css" />
  <!-- animate on scroll  -->
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <!-- title  -->
  <title>Web Development</title>
</head>

<body>
  <section id="Navbar">
    <nav class="flex">
      <div class="nav-left flex">
        <div class="nav-logo flex-box">
          <img src="/images/src/main-logo-cropped.png" alt="" />
          <p>Codigo Plataforma</p>
        </div>
        <div class="nav-hamburger">
          <i class="bi bi-list flex"></i>
        </div>
      </div>
      <div class="nav-right">
        <div class="nav-list">
          <ul class="flex">
            <li><a href="../../index.html">Home</a></li>
            <li><a href="">Mobile app</a></li>
            <li><a href="">Coordinators</a></li>
            <li><a href="">Contact Us</a></li>
          </ul>
        </div>
        <div class="nav-buttons flex">
          <button class="nav-button nav-button1">Sign Up</button>
          <button class="nav-button nav-button2">Log in</button>
        </div>
      </div>
    </nav>
  </section>

  <section id="domain-header">
    <header class="flex-box-column">
      <div class="row-one flex">
        <div class="container1" data-aos="fade-right">
          <h1>WEB DEVELOPMENT</h1>
          <p>
            Equipped with one of the most demanding skill in the industry, our
            students perform outstanding in the field of web development both
            backend and frontend.
          </p>
        </div>
        <div class="container2 flex-box" data-aos="fade-left">
          <img src="/images/src/Website interface.svg" alt="" />
        </div>
      </div>
      <div class="row-two" data-aos="fade-up">
        <h2>Top Skills</h2>
        <div class="skill-container flex-column">
          <div class="skill-row1 flex">
            <div class="skill flex-box">HTML</div>
            <div class="skill flex-box">CSS</div>
            <div class="skill flex-box">JavaScript</div>
            <div class="skill flex-box">Bootstrap</div>
            <div class="skill flex-box">NodeJs</div>
            <div class="skill flex-box">ReactJs</div>
            <div class="skill flex-box">MongoDB</div>
            <div class="skill flex-box">SQL</div>
            <div class="skill flex-box">ExpressJs</div>
          </div>
          <div class="skill-row1 flex">
            <div class="skill flex-box">HTML</div>
            <div class="skill flex-box">CSS</div>
            <div class="skill flex-box">JavaScript</div>
            <div class="skill flex-box">Bootstrap</div>
            <div class="skill flex-box">NodeJs</div>
            <div class="skill flex-box">ReactJs</div>
            <div class="skill flex-box">MongoDB</div>
            <div class="skill flex-box">SQL</div>
            <div class="skill flex-box">ExpressJs</div>
          </div>
        </div>
      </div>
      <div class="sic-mssg flex-box" data-aos="fade-down">
        <div class="sic-mssg-left">
          <h2>Message from the Student-in-charge</h2>
          <p>
            As a student and the student-in-charge of web development, it is
            my utmost responsibility to maintain the dignity of the domain and
            build awesome projects and instruct students to make their better
            careers in this field. We take this oppertunity to make and build
            the future developers who have the potential to make change to
            this domain. Till now we have 25+ projects build using industry
            leading techniques and tools like React.Js, NextJs, Nodejs and
            much more and we are always excited to build more.
          </p>

          <p>- Siddharth Priyadarshi, Student-in-charge, web-development</p>
        </div>
        <div class="sic-mssg-right flex-box">
          <img src="/images/src/processing.svg" alt="" />
        </div>
      </div>
      <div class="features flex">
        <div class="feature feature1 flex-box" data-aos="flip-right">
          <div class="feature-icon flex-box">
            <img src="/images/src/Chart_alt_duotone_line.svg" alt="" />
          </div>
          <div class="feature-text flex-box-column">
            <h4>Projects</h4>
            <p>
              25+ projects done in different areas by students using ReactJs,
              NodeJs, HTML,CSS and much more.
            </p>
          </div>
        </div>
        <div class="feature feature1 flex-box" data-aos="flip-right">
          <div class="feature-icon flex-box">
            <img src="/images/src/Pipe_duotone.svg" alt="" />
          </div>
          <div class="feature-text flex-box-column">
            <h4>Projects</h4>
            <p>
              25+ projects done in different areas by students using ReactJs,
              NodeJs, HTML,CSS and much more.
            </p>
          </div>
        </div>
        <div class="feature feature1 flex-box" data-aos="flip-right">
          <div class="feature-icon flex-box">
            <img src="/images/src/Book_check_duotone_line.svg" alt="" />
          </div>
          <div class="feature-text flex-box-column">
            <h4>Projects</h4>
            <p>
              25+ projects done in different areas by students using ReactJs,
              NodeJs, HTML,CSS and much more.
            </p>
          </div>
        </div>
      </div>
    </header>
  </section>
  <section id="domain-intro" class="flex-box">
    <div class="domain-intro-left">
      <img src="/images/src/Concept of Seo Ranking.svg" alt="" />
    </div>
    <div class="domain-intro-right">
      <h2>What is Web Development?</h2>
      <p>
        Regular club classes are taken on Saturday second half when all the
        other classes are over. In this session, the the batch of 2022-26 are
        instructed with the techniques used in web development and how to
        implement it are instructed by the domain coordinator. Some special
        sessions are also organized to make students aware about the latest
        industry trends. Expert talks and alumini sessions are also organized
        by the club. In this sessions students are made up-to-date with latest
        tools like NextJs and Web3.0 introduced.
      </p>
    </div>
  </section>
  <section id="domain-activities" class="flex-box-column">
    <h2>Activities</h2>
    <div class="domain-activities-container flex-box-column">
      <div class="domain-activity domain-activity1 flex">
        <div class="activity-text">
          <h4>Club classes</h4>
          <p>
            Regular club classes are taken on Saturday second half when all
            the other classes are over. In this session, the the batch of
            2022-26 are instructed with the techniques used in web development
            and how to implement it are instructed by the domain coordinator.
            Some special sessions are also organized to make students aware
            about the latest industry trends. Expert talks and alumini
            sessions are also organized by the club. In this sessions students
            are made up-to-date with latest tools like NextJs and Web3.0
            introduced.
          </p>
        </div>
        <div class="domain-activity-img flex-box">
          <div class="d-activity-img-container">
            <div class="tri-options flex">
              <div></div>
              <div></div>
              <div></div>
            </div>
            <div class="d-activity-img1" data-aos="zoom-in">
              <img src="" alt="" />
            </div>
            <div class="d-activity-img2" data-aos="zoom-out">
              <img src="" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="domain-activity domain-activity2 flex">
        <div class="activity-text">
          <h4>Projects building</h4>
          <p>
            Regular club classes are taken on Saturday second half when all
            the other classes are over. In this session, the the batch of
            2022-26 are instructed with the techniques used in web development
            and how to implement it are instructed by the domain coordinator.
            Some special sessions are also organized to make students aware
            about the latest industry trends. Expert talks and alumini
            sessions are also organized by the club. In this sessions students
            are made up-to-date with latest tools like NextJs and Web3.0
            introduced.
          </p>
        </div>
        <div class="domain-activity-img flex-box">
          <div class="d-activity-img-container">
            <div class="tri-options flex">
              <div></div>
              <div></div>
              <div></div>
            </div>
            <div class="d-activity-img1" data-aos="zoom-in">
              <img src="" alt="" />
            </div>
            <div class="d-activity-img2" data-aos="zoom-out">
              <img src="" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="domain-activity domain-activity3 flex">
        <div class="activity-text">
          <h4>Interview Preparation</h4>
          <p>
            Regular club classes are taken on Saturday second half when all
            the other classes are over. In this session, the the batch of
            2022-26 are instructed with the techniques used in web development
            and how to implement it are instructed by the domain coordinator.
            Some special sessions are also organized to make students aware
            about the latest industry trends. Expert talks and alumini
            sessions are also organized by the club. In this sessions students
            are made up-to-date with latest tools like NextJs and Web3.0
            introduced.
          </p>
        </div>
        <div class="domain-activity-img flex-box">
          <div class="d-activity-img-container">
            <div class="tri-options flex">
              <div></div>
              <div></div>
              <div></div>
            </div>
            <div class="d-activity-img1" data-aos="zoom-in">
              <img src="" alt="" />
            </div>
            <div class="d-activity-img2" data-aos="zoom-out">
              <img src="" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="projects" class="flex-box-column" data-aos="fade-up">
    <h2>Projects</h2>
    <div class="projects-container swiper mySwiper">
      <div class="swiper-wrapper projects-slides">
        <div class="swiper-slide project flex-box-column">
          <div class="project-title flex-box">
            <img src="/images/src/project.svg" alt="" />
            <div class="project-title-text">
              <h5>Video calling app</h5>
              <p>By John Doe</p>
            </div>
            <i class="bi bi-three-dots-vertical flex"></i>
          </div>
          <div class="project-text">
            <p>
              The video calling app is a web app developed using ReactJs as
              front-end and nodejs as back-end. This technology use public api
              services to make personal video calls over a network.
            </p>
            <p class="tags">
              #react #node #backend #videocall #api #services #web
              #development # project
            </p>
          </div>

          <button class="project-button flex-box">
            <i class="bi bi-github flex"></i>
            <span>Open in Github</span>
          </button>
        </div>

        <div class="swiper-slide project flex-box-column">
          <div class="project-title flex-box">
            <img src="/images/src/project.svg" alt="" />
            <div class="project-title-text">
              <h5>Video calling app</h5>
              <p>By John Doe</p>
            </div>
            <i class="bi bi-three-dots-vertical flex"></i>
          </div>
          <div class="project-text">
            <p>
              The video calling app is a web app developed using ReactJs as
              front-end and nodejs as back-end. This technology use public api
              services to make personal video calls over a network.
            </p>
            <p class="tags">
              #react #node #backend #videocall #api #services #web
              #development # project
            </p>
          </div>

          <button class="project-button flex-box">
            <i class="bi bi-github flex"></i>
            <span>Open in Github</span>
          </button>
        </div>

        <div class="swiper-slide project flex-box-column">
          <div class="project-title flex-box">
            <img src="/images/src/project.svg" alt="" />
            <div class="project-title-text">
              <h5>Video calling app</h5>
              <p>By John Doe</p>
            </div>
            <i class="bi bi-three-dots-vertical flex"></i>
          </div>
          <div class="project-text">
            <p>
              The video calling app is a web app developed using ReactJs as
              front-end and nodejs as back-end. This technology use public api
              services to make personal video calls over a network.
            </p>
            <p class="tags">
              #react #node #backend #videocall #api #services #web
              #development # project
            </p>
          </div>

          <button class="project-button flex-box">
            <i class="bi bi-github flex"></i>
            <span>Open in Github</span>
          </button>
        </div>

        <div class="swiper-slide project flex-box-column">
          <div class="project-title flex-box">
            <img src="/images/src/project.svg" alt="" />
            <div class="project-title-text">
              <h5>Video calling app</h5>
              <p>By John Doe</p>
            </div>
            <i class="bi bi-three-dots-vertical flex"></i>
          </div>
          <div class="project-text">
            <p>
              The video calling app is a web app developed using ReactJs as
              front-end and nodejs as back-end. This technology use public api
              services to make personal video calls over a network.
            </p>
            <p class="tags">
              #react #node #backend #videocall #api #services #web
              #development # project
            </p>
          </div>

          <button class="project-button flex-box">
            <i class="bi bi-github flex"></i>
            <span>Open in Github</span>
          </button>
        </div>

        <div class="swiper-slide project flex-box-column">
          <div class="project-title flex-box">
            <img src="/images/src/project.svg" alt="" />
            <div class="project-title-text">
              <h5>Video calling app</h5>
              <p>By John Doe</p>
            </div>
            <i class="bi bi-three-dots-vertical flex"></i>
          </div>
          <div class="project-text">
            <p>
              The video calling app is a web app developed using ReactJs as
              front-end and nodejs as back-end. This technology use public api
              services to make personal video calls over a network.
            </p>
            <p class="tags">
              #react #node #backend #videocall #api #services #web
              #development # project
            </p>
          </div>

          <button class="project-button flex-box">
            <i class="bi bi-github flex"></i>
            <span>Open in Github</span>
          </button>
        </div>
      </div>
      <div class="swiper-pagination" style="position: static; margin-top: 30px"></div>
    </div>
  </section>
  <footer id="footer" class="flex-box">
    <div class="footer-left flex-box-column">
      <div class="footer-form-container">
        <h3>Subscribe to the newsletter</h3>
        <div class="footer-form">
          <form action="" class="flex">
            <input type="email" name="" id="" placeholder="Email" />
            <button type="submit">Subscribe</button>
          </form>
        </div>
      </div>
      <div class="logo-container flex-box-column">
        <div class="footer-logo flex-box">
          <img src="/images/src/main-logo-cropped.png" alt="" />
        </div>
        <div class="logo-content">
          <h5>Codigo Plataforma</h5>
          <p>
            Official Coding club of Silicon Institute of Technology, Sambalpur
          </p>
        </div>
      </div>
      <div class="footer-social flex-box">
        <i class="bi bi-twitter flex"></i>
        <i class="bi bi-facebook flex"></i>
        <i class="bi bi-linkedin flex"></i>
        <i class="bi bi-instagram flex"></i>
      </div>
    </div>
    <div class="footer-right">
      <div class="links-container">
        <div class="links flex-column info-links">
          <h5>Info links</h5>
          <ul>
            <li>Club info</li>
            <li>Blog</li>
            <li>Forum</li>
            <li>Application</li>
            <li>Advitisements</li>
          </ul>
        </div>
        <div class="links flex-column reach-us">
          <h5>Reach us</h5>
          <ul>
            <li>Contact us</li>
            <li>About us</li>
            <li>Acknowledgements</li>
            <li>Privacy Policy</li>
            <li>Terms of usage</li>
          </ul>
        </div>
        <div class="links flex-column help">
          <h5>Help</h5>
          <ul>
            <li>Getting started</li>
            <li>Questions</li>
            <li>Doubts</li>
            <li>Domains</li>
            <li>Projects</li>
          </ul>
        </div>
        <div class="links flex-column coordinators">
          <h5>Coordinators</h5>
          <ul>
            <li>Apply</li>
            <li>How we work</li>
            <li>Secratary</li>
            <li>FC</li>
            <li>Management</li>
          </ul>
        </div>
        <div class="links flex-column software">
          <h5>Software</h5>
          <ul>
            <li>Beta program</li>
            <li>Testing</li>
            <li>Early access</li>
            <li>Monitering</li>
            <li>Features</li>
          </ul>
        </div>
        <div class="links flex-column faq">
          <h5>FAQ</h5>
          <ul>
            <li>Software usage</li>
            <li>Events</li>
            <li>Data privacy</li>
            <li>Classes</li>
            <li>Funding</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <section id="copyright" class="flex-box">
    <p>
      &copy; 2023 Codigo Plataforma. All rights reserved. Designed by
      <a href="https://www.linkedin.com/in/somdev-behera/">Somdev Behera</a>
    </p>
  </section>

  <!-- swiper script  -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  <!-- local scripts  -->
  <script src="..//scripts/domain.js"></script>
  <script src="/scripts/script.js"></script>
  <!-- aos script  -->
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>

</html>